.product-in-cart__item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.item__info {
  display: flex;
  align-items: center;
}

.item-details {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 50%;
}

.item-details__other {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}