.product-card {
    display: flex;
    margin: 1%;
    flex-direction: column;
    transition: 0.1s;
    cursor: pointer;
    border: var(--border-thick);
    width: 40%;
    flex: 0 1 23%;
    font-size: 50%;
}

.product-card-in-cart {
    box-shadow: var(--box-shadow);
}

.product-card.small {
    margin: 0.5%;
    flex: 0 1 19%;
    height: 10rem;
}

.product-card.small .product-card__description {
    display: none;
}

.product-card.small button {
   font-size: 100%;
}

.product-card.small .product-card__controls {
    width: 80%;
    flex-direction: row;
    flex: 0;
    gap: 3%;
}

.product-card__title {
    text-align: center;
    border-radius: 5px 5px 0 0;
    color: aliceblue;
    background: rgba(0, 0, 0, 0.7);
    background: var(--color-bg-footer-header 0.7);
    font-size: 200%;
    width: 100%;
}

.product-title__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
    flex: 1;
}

.product-card__description {
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius-container);
    border: var(--border-thick);
    width: 70%;
    padding: 1%;
    font-size: 1rem;
    background: rgba(156, 194, 209, 0.7);
    margin-bottom: 0.5rem;
    word-break: break-word;
    flex: 2;
}

.product-card__controls {
    display: flex;
    width: 80%;
    margin: auto;
    margin-bottom: 5%;
    justify-content: space-evenly;
    flex: 1;
    gap: 0.5rem;
    font-size: 0.8rem;
}