.unknown-page__wrapper {
    width: 100%;
    height: calc(97.4vh - 49.5px - 46px);
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url('https://cdn.dribbble.com/users/879147/screenshots/6766595/404_4x.jpg');
    
}

