.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: var(--border-radius-footer-header) var(--border-radius-footer-header) 0 0;
    border-top: var(--border-thin);
    background-color: var(--color-bg-footer-header);
    padding: 1.0%;
    text-shadow: var(--text-shadow);
    color: var(--color-logo-border);
    width: 100%;
    height: 4.0rem;
}

.footer__developers-gitHub,
.footer__RSS-logo,
.footer__year {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
}

.footer__developers-gitHub-link,
.footer__RSS-logo-link {
    cursor: pointer;
    color: var(--color-logo-border);
}